[Unit]
Description=Open Automated Farm Web Interface Service
After=network.target

[Service]
Type=forking
PIDFile=/OpenAutomatedFarm/farmgui.pid
SyslogLevel=err
ExecStart=pserve --daemon --pid-file=/OpenAutomatedFarm/farmgui.pid /OpenAutomatedFarm/FarmGUI/production.ini http_port=5000

[Install]
WantedBy=multi-user.target