[Unit]
Description=Open Automated Farm Web Interface Service
After=network.target

[Service]
Type=simple
ExecStart=pserve --daemon --pid-file=/OpenAutomatedFarm/pserve_5000.pid /OpenAutomatedFarm/FarmGUI/production.ini http_port=5000