[Unit]
Description=Open Automated Farm Daemon Service
After=network.target

[Service]
Type=simple
User=oaf
SyslogLevel=err
ExecStart=/home/oaf/OpenAutomatedFarm/systemd/oafd.sh

[Install]
WantedBy=multi-user.target